@font-face {
    font-family: 'luckiestGuy';
    src: url('img/fonts/luckiestGuy.ttf')
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/assests/dragon-scales.svg');
    background-position: center;
    font-family: 'luckiestGuy', Arial, 'Helventica', sans-serif;
}

.d-none {
    display: none !important;
}

h1 {
    color: azure;
    -webkit-text-stroke: 2px black;
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
    margin-top: -10px;
    font-weight: lighter;
    font-style: italic;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px groove rgba(35, 137, 204, 0.9);
    border-radius: 10px;
    margin-bottom: 200px;
}

.canvas {
    z-index: -1;
}

.start-screen {
    z-index: 1;
    position: absolute;
    background-image: url('img/3. Background/Mesa de trabajo 1.png');
    background-size: 720px 480px;
    object-fit: contain;
    width: 720px;
    height: 480px;
}

.panel-top {
    z-index: 2;
    margin: 12px;
    display: flex;
    justify-content: flex-end;
}


.panel-top img {
    width: 50px;
    height: 50px;
    filter: brightness(0) invert(1);
}

.settings-img:hover {
    cursor: pointer;
    filter: brightness(0.7) invert(0.7)
}

.panel-bottom {
    display: flex;
    justify-content: center;
}


.button {
    border-color: white;
    border-style: solid;
    border-width: 2px 2px;
    background-color: #FCEE21;
    border-radius: 20px;
    margin-top: 180px;
    font-family: 'luckiestGuy', Arial, 'Helventica', sans-serif;
    font-size: 24px;
    width: 180px;
    height: 50px;
}

.yellow {
    background-color: #FCEE21;
}

.button:hover {
    cursor: pointer;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.settings-overlay {
    border-color: white;
    border-style: solid;
    border-radius: 15px;
    position: absolute;
    width: max-content;
    height: 350px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    color: white;
}

.slider-container {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.headline-volume {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.x-icon {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.x {
    margin-top: 12px;
    margin-right: 12px;
    display: flex;
    justify-content: flex-end;
}


/* <-------------------VolumeSlider-----------------------> */
input[type="range"] {
    -webkit-appearance: none;
    margin-right: 6px;
    height: 14px;
    border-radius: 5px;
    width: 50%;
    background: white;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background: #1f045f;
    cursor: pointer;
}

output {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.sound-icon {
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}



/* <--------------------Menu-Points----------> */


.credits-container,
.instruction-button,
.fullscreen-container {
    font-size: 24px;
    margin-bottom: 12px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;

}

.credits-container img,
.instruction-button img,
.fullscreen-container img {
    width: 18px;
    height: 18px;
    filter: brightness(0) invert(1);

}

.x-icon:hover,
.credits-container:hover img,
.instruction-button:hover img,
.fullscreen-container:hover img {
    -webkit-filter: drop-shadow(2px 2px 1px rgb(22, 126, 236));
    filter: brightness(0) invert(1) drop-shadow(2px 2px 1px rgb(22, 126, 236));
}

.credits-container:hover p,
.instruction-button:hover p,
.fullscreen-container:hover p {
    text-shadow: 2px 2px 1px rgb(22, 126, 236);
}

/* <--------CSS Classen für Fullscreen Modus -------> */
.fullscreen {
    z-index: -1;
    width: 100%;
    height: 100%;
}

.start-screen-fullscreen {
    height: 100%;
    width: 100%;
    background-size: cover !important
}

.panel-top-fullscreen {
    height: 15vh;
    width: 100vw;
}

.panel-bottom-fullscreen {
    height: 85vh;
    width: 100vw;
}

.instruction-container {
    width: 400px;
    font-weight: lighter;
}


/* <----------------------------------------------> */

.instruction-menu {
    display: flex;

}

.button-menu {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.instruction-info {
    color: white;
    width: 400px;
}